/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.drawer-header .mdl-layout-title .material-icons {
    color: rgb(255, 82, 82);
    vertical-align: sub;
}

.drawer {
    border: none;
}

/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
    z-index: -1;
}

.drawer .navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */
.drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}

.drawer .mdl-menu .mdl-menu__item a {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    text-decoration: none;
}

.drawer-header .user_details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    /*height: 151px;*/
}

.drawer-header .mdl-layout-title {
    padding: 30px 0 30px 0;
    text-align: center;
    margin: 0 auto;
}

.avatar-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navigation {
    flex-grow: 1;
}

.layout .navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.layout .navigation .mdl-navigation__link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /*color: #37474F;*/
}

.navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.content {
    max-width: 1080px;
}

.mdl-layout__content .mdl-card {
    margin-left: auto;
    margin-right: auto;
}

.mdl-layout__content .mdl-card .mdl-list {
    margin-left: 20px;
}

.mdl-layout__content .mdl-card .mdl-list span {
    margin-left: 5px;
    font-weight: 300;
}

.input-list .mdl-list__item:not(last-child):not(first-child) {
    padding-bottom: 0;
    padding-top: 0;
}

.mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.mdl-card__title-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.mdl-card__title {
    min-height: 200px;
}

.mdl-card__actions a {
    color: #00BCD4;
    text-decoration: none;
}