{% extends "back-doctor/skeleton.html" %}
{% load i18n %}
{% load staticfiles %}

{% block layout-classes %}
layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header
{% endblock layout-classes %}

{% block header-classes %}
header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600
{% endblock header-classes %}

{% block header %}
<div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{% block title %} {% endblock title %}</span>

    <div class="mdl-layout-spacer"></div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
    </ul>
</div>
{% endblock header %}

{% block drawer-classes %}

drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50
{% endblock drawer-classes %}

{% block drawer %}
<header class="drawer-header">
    <span class="mdl-layout-title">Pocket Doc<i class="material-icons">local_hospital</i>or</span>
    {% block user %}
    {% if user.is_authenticated %}
    <div class="user_details">
        <img src="{% static 'mdl/images/user.jpg' %}" class="avatar">
        <div class="avatar-dropdown">
            <span>{{user.email}}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item">
                    <a href="{% url 'account:profile:show' %}">View profile</a>
                </li>
                <li class="mdl-menu__item">
                    <a href="{% url 'account:profile:edit' %}">Edit profile</a>
                </li>
                <li class="mdl-menu__item">
                    <i class="material-icons">power_settings_new</i>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    {% endblock user %}
</header>
<nav class="navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" href="{% url 'home' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home
    </a>
    <a class="mdl-navigation__link" href="{% static 'pocket-doctor.apk' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">get_app</i>Download App
    </a>
    {% if user.is_authenticated %}
    {% if user.member.is_doctor %}
    <a class="mdl-navigation__link" href="{% url 'account:doctor-profile:show' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i>Doctor profile
    </a>
    <a class="mdl-navigation__link" href="{% url 'schedule:show' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">watch_later</i>Schedule
    </a>
    <a class="mdl-navigation__link" href="{% url 'schedule:request:show_all' %}">
        {% if user.member.doctor.schedule.request_numbers < 1 %}
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">update</i>Requests
        {% else %}
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">update</i>Requests &nbsp;<span class="mdl-color-text--red">({{ user.member.doctor.schedule.request_numbers }})</span>
        {% endif %}
    </a>
    <a class="mdl-navigation__link" href="{% url 'schedule:appointments:show_all' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>Appointments
    </a>
    {% else %}
    <a class="mdl-navigation__link" href="{% url 'account:join-doctor' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">check_circle</i>Upgrade
    </a>
    {% endif %}
    {% else %}
    <a class="mdl-navigation__link" href="{% url 'account:login' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i>Login
    </a>
    <a class="mdl-navigation__link" href="{% url 'account:join' %}">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person_add</i>Join
    </a>
    {% endif %}
</nav>
{% endblock drawer %}

{% block content-classes %}
mdl-layout__content mdl-color--grey-100
{% endblock content-classes %}