{% extends "back-doctor/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Home" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    {% if user.is_authenticated %}
    <div class="join-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--red-300">
            <h4 class="mdl-card__title-text">Do you want to view your profile?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'account:profile:show' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">View</a>
        </div>
    </div>
    {% if user.member.is_doctor %}
    <div class="join-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
            <h4 class="mdl-card__title-text">How do patients see you?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'account:doctor-profile:show' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">View</a>
        </div>
    </div>
    <div class="join-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--orange-300">
            <h4 class="mdl-card__title-text">Need some scheduling?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'schedule:show' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Schedule</a>
        </div>
    </div>
    <div class="join-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--green-300">
            <h4 class="mdl-card__title-text">Need some advertisement?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'advertisement:upgrade' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Upgrade to advertisement plan</a>
        </div>
    </div>
    {% else %}
    <div class="join-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
            <h4 class="mdl-card__title-text">Are you a doctor?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'account:join-doctor' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Upgrade</a>
        </div>
    </div>
    <div class="download-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--green-300">
            <h4 class="mdl-card__title-text">Are you a patient?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% static 'pocket-doctor.apk' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Download App</a>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="login-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--red-300">
            <h4 class="mdl-card__title-text">Do you have a user?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'account:login' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Login</a>
        </div>
    </div>
    <div class="join-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
            <h4 class="mdl-card__title-text">Do you want to have a user?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% url 'account:join' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Join</a>
        </div>
    </div>
    <div class="download-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--green-300">
            <h4 class="mdl-card__title-text">Are you a patient?</h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="{% static 'pocket-doctor.apk' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Download App</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
