{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% endblock title %} - Pocket Doctor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An easy scheduling process for doctors and patients.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% block meta %}
    {% endblock meta %}
    <link rel="stylesheet" href="{% static 'mdl/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'pocket-doctor.css' %}">
    {% block link %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock link %}
    <script src="{% static 'jquery.min.js' %}"></script>
</head>
<body>
    <div class="{% block layout-classes %}{% endblock layout-classes %}">
        <header class="{% block header-classes %}{% endblock header-classes %}">
            {% block header %}{% endblock header %}
        </header>
        <div class="{% block drawer-classes %}{% endblock drawer-classes %}">
            {% block drawer %}{% endblock drawer %}
        </div>
        <main class="{% block content-classes %}{% endblock content-classes %}">
            {% block content %}{% endblock content %}
        </main>
    </div>
    {% block script %}
    {% endblock script %}
    <script>
        $(".mdl-card .mdl-textfield input").addClass("mdl-textfield__input");
        $(".mdl-card .mdl-textfield label").addClass("mdl-textfield__label");
        $(".mdl-card .mdl-textfield textarea").addClass("mdl-textfield__input");
    </script>
    <script src="{% static 'mdl/material.min.js' %}"></script>
</body>
</html>