{% extends "back-doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans "Upgrade Doctor Account" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="join-panel input-list mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <form action="" method="post">
            {% csrf_token %}
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    {% if form.errors %}
                        <p class="mdl-color-text--accent">
                            {% trans "The date is not correct!" %}
                        </p>
                    {% endif %}
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.year.label_tag }}
                        {{ form.year }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.month.label_tag }}
                        {{ form.month }}
                    </div>
                </li>

                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "Upgrade your account" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
