{% extends "back-doctor/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Doctor profile" %}{% endblock title %}

{% block content %}

<div class="mdl-grid content">
    <div class="doctor-profile-panel mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <form action="{% url 'account:doctor-profile:edit' %}" method="get" autocomplete="off">
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <label> {% trans "Degree" %}: </label>
                    <span>{{ data.0.data }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Degree Year" %}: </label>
                    <span>{{ data.1.data }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "University" %}: </label>
                    <span>{{ data.2.data }}</span>
                </li>
                <li class="mdl-list__item">
                   <label> {% trans "Clinic Phone" %}: </label>
                    <span>{{ data.3.data }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Clinic Adress" %}: </label>
                    <span>{{ data.4.data  }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Contract" %}: </label>
                    <a href="{{ data.5.data }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                        {% trans "Download" %}
                        <i class="material-icons">cloud_download</i>
                    </a>
                </li>
                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "Edit doctor profile" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
