{% extends "back-doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit profile" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="edit-profile-panel input-list mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <form action="" method="post">
            {% csrf_token %}
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    {% if form.errors %}
                        <p class="mdl-color-text--accent">
                            {{ form.errors }}
                        </p>
                    {% endif %}
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.melli_code.label_tag }}
                        {{ form.melli_code }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "Save" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
