{% extends "back-doctor/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Are you a doctor?" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="join-doctor-panel input-list mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    {% if form.errors %}
                    <p class="mdl-color-text--accent">
                        {{ form.errors }}
                    </p>
                    {% endif %}
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.degree.label_tag }}
                        {{ form.degree }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.degree_year.label_tag }}
                        {{ form.degree_year }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.university.label_tag }}
                        {{ form.university }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.clinic_phone.label_tag }}
                        {{ form.clinic_phone }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.clinic_address.label_tag }}
                        {{ form.clinic_address }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <p> {% trans "Download the contract, then upload the signed contract below." %} </p>
                </li>
                <li class="mdl-list__item">
                    <a href="{% static  'account/contract.pdf' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                        {% trans "Download" %}
                        <i class="material-icons">cloud_download</i>
                    </a>
                    {{ form.contract }}
                </li>
                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "Upgrade" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
