{% extends "back-doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="login-panel input-list mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <form action="." method="post">
            {% csrf_token %}
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    {% if form.errors %}
                        <p class="mdl-color-text--accent">
                            {% trans "Your username and password didn't match. Please try again." %}
                        </p>
                    {% endif %}
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </li>
                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "Login" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
