{% extends "back-doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans "View profile" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="profile-panel mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <form action="{% url 'account:profile:edit' %}" method="get" autocomplete="off">
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <label> {% trans "Name" %}: </label>
                    <span>{{ data.2.data|default_if_none:"No Name" }} {{ data.3.data|default_if_none:"" }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Username" %}: </label>
                    <span>@{{ data.0.data }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Melli Code" %}: </label>
                    <span>{{ data.4.data|default_if_none:"No Melli Code Added" }}</span>
                </li>
                <li class="mdl-list__item">
                   <label> {% trans "Email" %}: </label>
                    <span>{{ data.1.data|default_if_none:"No Email"  }}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Phone Number" %}: </label>
                    <span>{{ data.5.data|default_if_none:"No Phone Number"  }}</span>
                </li>
                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "edit profile" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
