{% extends "back-doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans "Show Requests" %}{% endblock title %}

{% block content %}


    <div class="mdl-grid content">

            <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-card mdl-shadow--2dp mdl-cell mdl-cell--10-col">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">{% trans "User" %}</th>
                    <th class="mdl-data-table__cell--non-numeric">{% trans "Visit Date" %}</th>
                    <th class="mdl-data-table__cell--non-numeric">{% trans "Visit Start" %}</th>
                    <th class="mdl-data-table__cell--non-numeric">{% trans "Visit End" %}</th>
                    <th class="mdl-data-table__cell--non-numeric">{% trans "Requested at" %}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for request in object_list %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ request.patient.username }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ request.slot.day }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ request.slot.start_time }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ request.slot.finish_time }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ request.created }}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <form action="{% url 'schedule:request:accept' id=request.id %}">
                                <input type="submit" value="Accept" class=
                                        "mdl-button mdl-js-button mdl-button--raised
                                        mdl-color-text--grey-200 mdl-color--green-600">
                                </input>
                            </form>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <form action="{% url 'schedule:request:reject' id=request.id %}">
                                <input type="submit" value="Reject" class=
                                        "mdl-button mdl-js-button mdl-button--raised
                                        mdl-color-text--grey-200 mdl-color--red-600">
                                </input>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

    </div>

{% endblock content %}
