{% extends "back-doctor/base.html" %}
{% load i18n %}

{% block title %}{% trans "Show Appointments" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="datefilter input-list mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="id_year">Year:</label>
                        <input id="id_year" name="year" type="text"/>
                </div>
            </li>
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="id_month">Month:</label>
                        <input id="id_month" name="month" type="text"/>
                </div>
            </li>
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="id_day">Day:</label>
                        <input id="id_day" name="day" type="text"/>
                </div>
            </li>
            <li class="mdl-list__item">
                <a href="{% url 'schedule:appointments:show_all' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                    {% trans "Filter" %}
                </a>
            </li>
        </ul>

        <script>
            var base = $('.datefilter a').attr('href');
            $('.datefilter input').change(function() {
                var year = $('.datefilter [name=year]').val();
                var month = $('.datefilter [name=month]').val();
                var day = $('.datefilter [name=day]').val();
                var params = year + '/' + month + '/' + day + '/';
                $('.datefilter a').attr('href', base + params);
            });
        </script>
    </div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-card mdl-shadow--2dp mdl-cell mdl-cell--10-col">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans "User" %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans "Visit Date" %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans "Visit Start" %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans "Visit End" %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans "Requested at" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for request in object_list %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ request.patient.username }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ request.slot.day }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ request.slot.start_time }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ request.slot.finish_time }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ request.created }}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <form action="{% url 'schedule:appointments:cancel' id=request.id %}">
                            <input type="submit" value="Cancel" class=
                                    "mdl-button mdl-js-button mdl-button--raised
                                    mdl-color-text--grey-200 mdl-color--red-600">
                            </input>
                        </form>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>
</div>

{% endblock content %}
