{% extends "back-doctor/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Schedule / Available Times" %}{% endblock title %}

{% block content %}
<div class="mdl-grid content">
    <div class="profile-panel mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
        <form action="{% url 'schedule:add' %}" method="get" autocomplete="off">
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <label> {% trans "Visit time" %}: </label>
                    <span>{{ data.0.data}}</span>
                </li>
                <li class="mdl-list__item">
                    <label> {% trans "Available times" %}: </label>
                </li>
                {% for day in data.1.data %}
                <li class="mdl-list__item">
                    <span>{{ day.day }} - {{ day.start_time }} - {{ day.finish_time }}</span>
                </li>
                {% endfor %}
                <li class="mdl-list__item">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        {% trans "Add available time" %}
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
